{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h1 class="text-center mb-4">{% block title %} Criar Conta {% endblock %}</h1>

        <form method="post">
            <div class="form-group">
                <label for="username">Nome de Usuário</label>
                <!-- Preste atenção no name="username" abaixo -->
                <input type="text" id="username" name="username" placeholder="Escolha um usuário" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                <!-- Preste atenção no name="password" abaixo -->
                <input type="password" id="password" name="password" placeholder="Digite uma senha forte" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-success btn-block">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}